# Allgemein ignorierte Dateien
__pycache__/
*.pyc
*.log
nohup.out
venv/
.DS_Store
.env

# Node & JS (falls du später z. B. ein Frontend anbaust)
node_modules/
.pnp.*
.yarn/*
.yarn/patches
.yarn/releases
.yarn/plugins
.yarn/sdks
.yarn/versions

# Vercel (optional, falls später Hosting via Vercel)
.vercel

# TypeScript (nur relevant, wenn du später TS integrierst)
*.tsbuildinfo
next-env.d.ts
